.ex-1-square:hover{
  background-color: red;
  transition: all 1s;
}

.ex-2-square:active{
  width: 100%;
  transition: 2s;
}

.ex-3-square:hover{
  border-radius: 50px;
  transition: 1s;
}

.ex-4-square:hover{
  opacity: 0;
  transition: 1s;
}


.ex-5-square:hover{
  height: 120px;
  width: 120px; 
  transition: 2s;
}

.ex-5-square:active{
  height: 60px;
  width: 60px; 
  transition: 2s;
}

.ex-6-img:hover {
  filter: grayscale();
}

.ex-7-img:hover{
  filter: grayscale(20%) saturate(0.2);
  transition: 2s;
}

.ex-8-img:hover{
  border-radius: 20px;
  filter: grayscale(20%) saturate(0.2);
  transition: 2s;
}

.ex-9-img:hover{
  width: 600px;
  border-radius: 20px;
  filter: grayscale(20%) saturate(0.2);
  transition: all 2s;
}

.ex-10-icon{
  animation: rotation 0.8s infinite linear;
}

@keyframes rotation {
  0%{
    transform: rotate(359deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.ex-11-icon:hover{
  animation: rotation-reverse 3s infinite linear;
}

@keyframes rotation-reverse{
  0%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(0deg)
  }
  
}

.ex-12-button:hover .ex-12-top-white {
  animation: blocco-sopra 1s linear;
}
@keyframes blocco-sopra {
  0% {
      left: 12%;
  }
  50% {
      left: calc(100% - 60px);
  }
  100% {
      left: 12%;
  }
}
.ex-12-button:hover .ex-12-bottom-white {
  animation: blocco-sotto 1s linear;
}
@keyframes blocco-sotto {
  0% {
      right: 12%;
  }
  50% {
      right: calc(100% - 60px);
  }
  100% {
      right: 12%;
  }
}

.ex-13-button:hover .ex-13-top-white {
  animation: blocco-sopra-2 1s linear;
}
@keyframes blocco-sopra-2 {
  0% {
      left: 10%;
      top: -10px;
  }
  30% {
      left: calc(100% - 30px);
      top: -10px;
  }
  45% {
      left: calc(100% - 30px);
      top: 100%;
  }
  75% {
      left: 0;
      top: 100%;
  }
  90% {
      left: -15px;
      top: -10px;
  }
  100% {
      left: 10%;
      top: -10px;
  }
}
.ex-13-button:hover .ex-13-bottom-white {
  animation: blocco-sotto-2 1s linear;
}
@keyframes blocco-sotto-2 {
  0% {
      bottom: -10px;
      right: 20%;
  }
  30% {
      right: calc(100% - 30px);
      bottom: -10px;
  }
  45% {
      right: calc(100% - 30px);
      bottom: 100%;
  }
  75% {
      right: 0;
      bottom: 100%;
  }
  90% {
      right: -15px;
      bottom: -10px;
  }
  100% {
      bottom: -10px;
      right: 20%;
  }
}





































@keyframes stretching {
  0%{
    width: 100px;
    height: 100px;
    background: red;
  }
  100%{
    width: 1100px;
    height: 100px;
    background: red;
  }
}